@charset "utf-8";
/* --스킵 내비게이션 --*/
#skip{
     position:relative;
}
#skip a{
     position:absolute;
     left:0;
     top:-35px; 
     width:180px;
     border:1px solid #fff; 
     color:#fff;
     background:#333;
     line-height:30px;
     text-align: center;
}

/* --활성화 or 마우스-- */
#skip a:active,
#skip a:focus {top:0;
}

/* -- 레이아웃 -- */

/* #wrap{} */

#header{
     height: 325px;
     background:url(../img/header_bg.jpg) center top repeat-x ;
     /* ^ 백그라운드 고정 position과 동일한 명령어 */
}

/* #contents{} */
#footer{
     height: 200px;
     background: #333;
}


/* -- 컨텐츠 레이아웃 -- */

#cont_nav{
     background:#f6fdff;
}
#cont_tit{
     background:#EAF7FD;
}
#cont_ban{
     background: #dceff7;
}
#cont_cont{  
     background:#f6fdff;
}
/* -- 컨테이너 --*/
.container{
     width: 990px;
     height:inherit;
     margin:0 auto;
     background-color: rgba(255,255,255,0.3);
}

/* 헤더 */

.header .header-menu{
     text-align: right;
}
.header .header-menu a{
     display:inline-block;
     color:#fff;
     padding:10px 0 10px 13px;    
}
/* --호버  -- */
.header .header-menu a:hover{
     color:#666;
}
/* -- 헤더 타이틀 -- */
.header .header-tit{
     text-align:center;
}
.header .header-tit h1{
     display: inline-block;
     padding:5px 20px 6px 20px;
     background-color: #4aa8d4;
     font-size: 28px;
     color:#fff;
     margin-top:40px;
     font-weight: normal;
     text-transform: uppercase;
   

}
.header .header-tit a{
     display: inline-block;
     background-color: #2698cb;
     color:#fff;
     font-size: 18px;
     padding:5px 20px 6px 20px;
     margin-top:-5px;
}

/* -- 헤더 아이콘 -- */
.header .header-icon{
     text-align: center;
     margin: 30px;
}
.header .header-icon a{
     display:inline-block;
     width:60px;
     height:60px;
     background: url(../img/icon.png);
}

.header .header-icon a.icon1{
     background-position: 0 0;
}
.header .header-icon a.icon2{
     background-position: 0 -60px;
}
.header .header-icon a.icon3{
     background-position: 0 -120px;
}
.header .header-icon a.icon4{
     background-position: 0 -180px;
}

/* -- icon hover -- */
.header .header-icon a.icon1:hover{
     background-position: -60px 0;
}
.header .header-icon a.icon2:hover{
     background-position: -60px -60px;
}
.header .header-icon a.icon3:hover{
     background-position: -60px -120px;
}
.header .header-icon a.icon4:hover{
     background-position: -60px -180px;
}

/* --- 전체메뉴 --- */
.nav{
     overflow:hidden;
     padding:30px 0;
}
.nav > div{
     float:left;
     width:40%;
}

.nav > div:last-child{
     width:20%;
} 
/* last-child 요소는 ie9부터 사용 */

.nav > div h3{
     font-size: 18px;
     color:#25a2d0;
     margin-bottom: 4px;
}
.nav > div ol{
     overflow: hidden;
}
.nav > div ol li{
     float:left;
     width: 50%;
}

.nav > div.last ol li{
     width:100%;
}
/* -- hover -- */
.nav > div ol li a:hover{
     text-decoration:underline;
}


/*-- 타이틀 --*/

.tit{
     position: relative;
}
.tit h2{
     font-size: 40px;
     font-family: 'Jua', sans-serif;
     text-align: center;
     padding:5px 0;
     letter-spacing:2px;
     color:#2c94c4;
     
}
.tit .btn{
     position: absolute;
     top:5px;
     right: 0;
     width:60px;
     height: 60px;
     background: url(../img/icon.png)no-repeat 0 -600px;
}


/* -- 배너 -- */

.ban {
     position: relative;
     padding:24px 0 20px;
}

.ban a.prev {
     position: absolute;   
     left:-60px;
     top:60px;
     width:43px;
     height:43px;
     background: url(../img/icon.png) no-repeat -150px 0;
}
.ban a.next {
     position: absolute;
     right:-60px;
     top:60px;
     width:43px;
     height:43px;
     background: url(../img/icon.png) no-repeat -150px -43px;
}

/* 배너 버튼 hover */
.ban a.prev:hover{
     background-position: -193px 0;
}
.ban a.prev:hover{
     background-position: -193px -43px;
}

.ban ul {
     overflow: hidden;
}
.ban ul li {
     float:left;
     width:330px;
}

.ban ul li.ban_img1 {text-align: left;}
.ban ul li.ban_img2 {text-align: center;}
.ban ul li.ban_img3 {text-align: right;}

/*  배너 img */
.ban ul li img {
     border: 4px solid #dcdcdc;
}
.ban ul li img:hover {
     border-color: #98bcdc;
}


/* -- 컨텐츠 -- */

.cont{
     overflow: hidden;
    padding-top:30px;
}
.cont .column{
     position: relative;
     float:left;
     width: 289px;
     height: 363px;
     margin:0 30px 30px 0;
     padding-right: 30px;
}

.cont .col1{
     border-right:1px solid #c8c8c8;
}
.cont .col2{
     border-right:1px solid #c8c8c8;
}
.cont .col3{
     margin-right: 0; padding-right: 0;
}
.cont .col4{
     border-right:1px solid #c8c8c8;
}
.cont .col5{
     border-right:1px solid #c8c8c8;
}
.cont .col6{ 
     margin-right: 0; padding-right: 0;
}

/* 컨텐츠 내부 */

.cont .column .icon_img{
     display: block;
     position:absolute;
     width: 60px;
     height: 60px;
     background: url(../img/icon.png)no-repeat;

}
.cont .column .icon_tit{
     padding-left:70px;
     font-size:16px;
     color:#2c94c4;
}
.cont .column .icon_text{
     padding-left:70px;
     border-bottom:1px solid #d0d0d0;
     padding-bottom: 15px;
     margin-bottom:15px;
}
/* 아이콘 위치 */
.cont .col1 .icon_img{background-position: 0px -240px;}
.cont .col2 .icon_img{background-position: 0px -300px;}
.cont .col3 .icon_img{background-position: 0px -360px;}
.cont .col4 .icon_img{background-position: 0px -420px;}
.cont .col5 .icon_img{background-position: 0px -480px;}
.cont .col6 .icon_img{background-position: 0px -540px;}

/* 아이콘 hover */
.cont .col1 .icon_img:hover{background-position: -60px -240px;}
.cont .col2 .icon_img:hover{background-position: -60px -300px;}
.cont .col3 .icon_img:hover{background-position: -60px -360px;}
.cont .col4 .icon_img:hover{background-position: -60px -420px;}
.cont .col5 .icon_img:hover{background-position: -60px -480px;}
.cont .col6 .icon_img:hover{background-position: -60px -540px;}


/* 게시판 01*/

.notice{
     position: relative;
}
.notice h4{
     font-size: 14px;
     color:#0093bd;
     padding-bottom:3px;
     font-weight: bold;
}
/* .notice ul{} */

/* 줄글 한줄만 보이기 */
.notice ul li{
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    background:url(../img/dot.gif)no-repeat 0 8px;
    padding-left:8px;
}
.notice ul li a{
     font-size: 12px;
}
.notice a.more{
     position: absolute;
     display: block;
     right: 0;
     top: 0;
     background:url(../img/icon.png)-150px -90px; 
     width: 17px; 
     height: 17px;
}


/* 게시판 02*/

.notice2{
     position:relative;
     margin-top:15px;
}
.notice2 h4{
     font-size: 14px;
     color:#0093bd;
     padding-bottom:3px;
     font-weight: bold;
}
/* .notice2 ul{} */
.notice2 ul li{
     overflow:hidden;
     background:url(../img/dot.gif)no-repeat 0 8px;
     padding-left:8px;
}
.notice2 li a{
     float:left;
     width:65%;
     overflow: hidden;
     text-overflow:ellipsis;
     white-space: nowrap;
}
.notice2 li span{
     float:right; 
     width:30%;
     text-align: right;
}
.notice2 a.more{
     position: absolute;
     display: block;
     right: 0;
     top: 0;
     background:url(../img/icon.png)-150px -90px; 
     width: 17px; 
     height: 17px;
}

/* 게시판 03 */

.notice3{
     position:relative;
}
.notice3 h4{
     font-size: 14px;
     color:#0093bd;
     padding-bottom:3px;
     font-weight: bold;
}


.notice3 ul li{
     position: relative;
     padding:8px 0 14px  60px;
}

.notice3 li a img{
     position:absolute;
     width: 50px;
     top:0;
     left:0;
     border:1px solid #0093bd;
}
.notice3 li a strong{
     display: block;
    
}
.notice3 li a span{
     display: block;
     overflow:hidden;
     text-overflow:ellipsis;
     white-space:nowrap;
     font-size: 12px;
}
.notice3 a.more{
     position: absolute;
     display: block;
     right: 0;
     top: 0;
     background:url(../img/icon.png)-150px -90px; 
     width: 17px; 
     height: 17px;
}


/* 마우스 오버 효과 01 */

.notice_hover h4{
     font-size: 14px;
     color:#0093bd;
     padding-bottom:3px;
     font-weight: bold;
}
.notice_hover ul{
     overflow: hidden;
    
}
.notice_hover ul li{
     float:left;
     width:93px;
     margin-right:5px;
     text-align: center;
}
.notice_hover ul li:last-child{
     margin-right: 0;
}

.notice_hover li a span{
     position: relative;
     display: block;
     width: 93px;
     height: 93px;
     line-height:93px;
}
.notice_hover li a span img{
    width: 100%;

}
.notice_hover li a span em{
     visibility: hidden;
     position: absolute;
     left:0;
     top: 0;
     background: rgba(0,0,0,0.5);
     color:#fff;
     width: 100%;
     height: 100%;
}
.notice_hover li a span:hover em{
     visibility: visible;
}
.notice_hover li a strong{
     padding-top:3px;
     display:inline-block;
     font-size:12px;
}

/* 마우스 오버 효과 02 */

.notice_hover2 ul{
    overflow:hidden;
}
.notice_hover2 ul li{
    float:left;
    width: 93px;
    margin-right:5px;
    text-align: center;
}
.notice_hover2 ul li:last-child{
     margin-right:0;
}
.notice_hover2 li a span{
     position:relative;
     display: block;
     width: 93px;
     height: 93px;
}
.notice_hover2 li a span img{
     width: 100%;

}
.notice_hover2 li a span em{
     visibility: hidden;
     position:absolute;
     left:0;
     bottom:0;
     background: rgba(0,0,0,0.5);
     color:#fff;
     width: 100%;
     height: 20%;

}
.notice_hover2 li a span:hover em{
    visibility: visible;
}

.notice_hover2 li a strong{
     padding-top:3px;
     display:inline-block;
     font-size:12px;
}

/*-----탭메뉴 ---*/
.tab_menu{
     position: relative;
     border:1px solid #ccc;
     padding:8px;
     height:105px;
}
.tab_menu ul{
     overflow: hidden;
     border-bottom:1px solid #ccc;
}
.tab_menu ul li{
     float:left;
     border:1px solid #ccc;
     margin-right:-1px;
     margin-bottom:-1px;
}
.tab_menu ul li a{
     padding:5px 10px;
     display: block;
}
.tab_menu ol{
     position:absolute;
     left:0;
     top:48px;
     width:270px;
}
.tab_menu ol li{
     float:none;
     background: url(../img/dot.gif) no-repeat 9px 8px;
     padding-left:18px;
     border:0;
}
.tab_menu ol li a{
     overflow:hidden;
     text-overflow:ellipsis; 
     white-space:nowrap;
     width: 100%;
     padding:0 0 3px 0;
}

.tab_menu ul li.active{
     background: #2c94c4;
     color:#fff;
}
.tab_menu ul li.active > a{
     color:#fff;
}

/* 게시판4 */
.notice4{
     position: relative;
     border:1px solid #ccc;
}

.notice4 h4{
     font-size: 14px;
     color:#0093bd;
     padding:8px 10px;
     font-weight:700;
     border-bottom:1px solid #ccc;
}
.notice4 h4 em{
     color:#cf3292;
}
.notice4 ul{
     overflow:hidden;
     padding:10px;
}
.notice4 li{
     overflow: hidden;
     background:url(../img/dot.gif)no-repeat 0 8px;
     padding-left:8px;
     padding-bottom:2px;
}
.notice4 li a{     
     float:left;
     width:60%;
     overflow: hidden;
     text-overflow: ellipsis;
     white-space: nowrap;
}
.notice4 li span{
     float:right;
     width:30%;
     text-align: right;
}

.notice4 a.more{
     position:absolute;
     top:9px;
     right:9px;
}


/* 갤러리 */

.gallery{
     position: relative;
     overflow:hidden;
     border:1px solid #ccc;
     height: 254px;
}
.gallery h4{
     font-size: 14px;
     color:#0093bd;
     border-bottom:1px solid #ccc;
     padding:10px 0 8px 11px;
     font-weight:bold;
}
.gallery .gallery_btn{
     position:absolute;
     top:7px;
     right:5px;
}

.gallery .gallery_btn ul{
     overflow: hidden;
}
.gallery .gallery_btn li{
     float:left;
     margin:1px 2px;
}
.gallery .gallery_btn li a{
     display: block;
     width: 23px;
     height: 23px;
     background: url(../img/icon.png) no-repeat;
}
.gallery .gallery_btn li.gb_icon1 a{background-position: -150px -120px;}
.gallery .gallery_btn li.gb_icon2 a{background-position: -150px -143px;}
.gallery .gallery_btn li.gb_icon3 a{background-position: -150px -166px;}
.gallery .gallery_btn li.gb_icon4 a{background-position: -150px -189px;}

.gallery .gallery_btn li.gb_icon1 a:hover{background-position: -173px -120px;}
.gallery .gallery_btn li.gb_icon2 a:hover{background-position: -173px -143px;}
.gallery .gallery_btn li.gb_icon3 a:hover{background-position: -173px -166px;}
.gallery .gallery_btn li.gb_icon4 a:hover{background-position: -173px -189px;}


.gallery .gallery_img img{
     width: 100%;
}


/* 로그인 영역 */
#login_wrap{
     padding:15px;
     margin-bottom: 15px;
     background:#f2f4f5;
}
.login_header{
     overflow: hidden;
     font-size: 12px;
     height: 30px;

}
.login_header .lh_check{
     float:left;
     padding-right:15px;
}
.login_header .lh_check .input_check{
     vertical-align:-3px;
}
.login_header .lh_ip{
     float:left;
}
.login_header .lh_ip em{
     color:#0093bd;
     text-decoration: underline;
}

.login_content{
     position: relative;
}
.login_content .lc_btn{
     position:absolute;
     right:0;
     top:0;
     width: 62px;
     height: 47px;
     border:1px solid #bebebe;
      
}
.login_content .input_text{
     width: 182px;
     height: 16px;
     padding:2px 5px;
     border:1px solid #bebebe;
     margin-bottom:3px;
     background: #fff;
}
.login_footer{
     margin-top: 5px;
}
.login_footer li{
     display: inline;
}
.login_footer li a{
     font-size: 12px;
}

/* 팝업 */
.popup{}
.popup h4{
     font-size: 14px;
     color:#0093bd;
     padding-bottom: 4px;
     font-weight: 700;
}
.popup ul{
     overflow: hidden;
}
.popup ul li{
     float:left;
     width: 93px;
     margin-right: 5px;
}
.popup ul li.last{
     margin-right:0;
}

.popup ul li img{
     width: 100%;
}